

@media only screen and (max-width: 767px) {
    
    body {
    
        font-size: 13px;
         line-height:2em; 
    }
    #page{
        max-width: 700px;
        display:flex;
        flex-direction: column;
        
    }
    
    
    nav#nav{
        
        background: none;
        
       
    }
    #order{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary);
       width:334%;
       height:880px;  
    }

    header{
        position:absolute;
        margin-top: -1020px;
        left:40%;
    }
    
    #nav ul{
         line-height:1.3em;
        text-align:center;
    }
    main section{
        padding:0 35px;
    }
    #section{
        text-align: center;
    }
.couleur{
    border-bottom: 4px solid var(--primary);
}


}
@media only screen and (max-width: 320px) {
    body{
        background-color: white;
        font-size: 16px;
        line-height:2em;   
    }

#order{
    background-color: var(--primary);
    background-size:cover;
    width:370%;
    height:1060px;
    margin-top:60px;
    
}
header{
    font-size:12px;
    
    margin-top:-1230px;
}

}