

@media only screen and (max-width: 767px) {
    
    body {
    
        font-size: 13px;
        line-height:13px;
    }
    #page{
        max-width: 700px;
        display:flex;
        flex-direction: column;
        
    }
    
    
    nav#nav{
        
        background: none;
        
       
    }
    #order{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary);
       width:334%;
       height:620px;
       
    }
    header{
        position:absolute;
        margin-top: -770px;
        left:40%;
    }
    
 

    
    
    
    #nav ul{
        text-align:center;
    }
    #section{
        text-align: center;
    }
}

