:root {
    --primary: #155FBF;
    --secondary: black;
}

*{
    
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}

html,
body
{
min-height: 100%;
width:100%;
}

body {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: black;
    background-color: #CDC7D9;
}

div#page {
    display: flex;
    width: 100%;
    max-width: 1024px;
    min-height: 100%;
    margin: 0 auto;
    background-color: white;
}


/**Nav**/
nav#nav {
    background-color: var(--primary);
    max-width: 30%;
    padding-top: 40px;
}

#fond {
    max-width: 80%;
    margin: 0 auto 20px;
}

#fond img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

#nav section{
    width:100%;
}

#nav section h2 {
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 0;
    background-color: var(--secondary);
    color:var(--primary);
}


#nav section article {
    padding: 20px;
}

#nav ul {
    list-style-type:none;
    text-align: left;
}

#icons {
    display: flex;
    justify-content: space-around;
}

#icons .icon {
    position: relative;
}


#icons .icon i {
    transition: all .2s linear;
}

#icons .icon:hover i {
    color: var(--secondary);
    transform: scale(2);
}

#icons .icon span {
    position: absolute;
    top: -160%;
    left: -40%;
    min-width: 120px;
    padding: 8px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(-80%);
    transition: all .2s linear;
}

#icons .icon:hover span {
    opacity: 1;
    transform: translateY(-50%);
}

/**Main**/
div#main {
    width: 70%;
    padding: 40px 40px 40px 40px;
}

header  {
    text-align: center;
    line-height: 30px;
    margin-top: 30px;
}
.dev{
    border-bottom: 2px solid var(--primary);
    
}


.prenom {
    color: var(--primary);
    line-height: 2em;
}
main section{
    padding:20px 60px;
}


section h2 i {
    padding:30px 10px 10px 0;
    color: var(--primary);
   
}

section h2 { 
    
    border-bottom: 2px solid var(--primary);
    letter-spacing: 1px;
    padding:40px 10px 10px 8px;

}
section h3{
    padding:20px 0 6px 0;
}
section ul{
    list-style-type: none;
}


/** Utils **/

.center {
    text-align: center;
}

