@media only screen and (max-width: 767px) {


    body {
        font-size: 13px;
        line-height: 2em;
    }

    div#page {

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*nav*/
    nav#nav {
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .agencer1 {
        position: static;
    }

    #nav ul {
        line-height: 1.3em;
        text-align: center;
    }

    #icons .icon span {
        writing-mode: vertical-rl;
    }

    button {
        margin-top: 150px;
    }

    /*main*/
    main section {
        padding: 0 35px;
    }

    .recommandation {
        flex-direction: column;
    }

    .center {
        text-align: start;
        width: 60%;
        margin-left: 90px;
    }

    /*header*/
    #titre {
        display: none;
    }

    #titre2 {
        display: block;
        text-align: center;
        line-height: 30px;
        padding: 40px;
    }
}

@media only screen and (max-width: 320px) {

    body {
        background-color: white;
        font-size: 14px;
        line-height: 2em;
    }

    .center {
        text-align: center;
        margin-left: 50px;
    }

    main section {
        padding: 20px 10px;
    }
}